# Ignore Python virtual environments
.venv/
env/

# Bytecode
__pycache__/
*.py[cod]
*.so

# Editor/project files
.vscode/
*.swp
*.swo

# Environment/OS files
.DS_Store
Thumbs.db

# Ignore Selenium WebDriver binaries
chromedriver
chromedriver.exe

# Ignore logs
typing_session_*.txt
logs/
*.log